body {
   background-image: url("https://s-media-cache-ak0.pinimg.com/originals/82/94/e5/8294e5b62bc1c96cf72342b8729cdade.jpg");



   .star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star{color: black;}
}